{{#if hasErrors}}
<p class="error-list">{{error}}
</p>
{{/if}}

{{#if newTask}}
<H1>Create a new Task</H1>
{{else}}
<H1>Edit a Task</H1>
{{/if}}

<form action="/tasks/create" method="POST" id="add_task_form">
    <label>Task Name</label>
    <input type="text" name="taskName" id="taskName" value={{task_name}} />
    </br>
    <label>Tags</label>
    <div>
        <input type="checkbox" id="h_priority" name="tag1" value="h_priority">
        <label for="h_priority"> High Priority</label><br>
        <input type="checkbox" id="l_priority" name="tag2" value="l_priority">
        <label for="l_priority"> Low Priority</label><br>
        <input type="checkbox" id="sample" name="tag3" value="sample">
        <label for="sample"> Sample</label>
    </div>
    </select>
    {{#if newTask}}
    <label>Comments</label>
    <input type="text" name="comments" id="comments" value={{comments}} />
    {{/if}}

    <input type="submit" value="Submit">
</form>