<ul>
    {{#each comments}}
    <li>{{comment}} [by {{name}}]</li>
    {{/each}}
</ul>

<form action="/{{_id}}/comments/create" method="POST" id="add_task_form">
    <label>Add a Comment</label>
    <input type="text" id="new_comment">
    <input type="submit" value="Add new comment">
</form>