<div class="login">
    <H1>Please enter your email and password</H1>

    {{#if hasErrors}}
    <p class="error-list">{{error}}
    </p>
    {{/if}}

    <form action="/login" method="POST" id="login-form">
        <label for="email">Email:</label>
        <input type="email" name="email" id="email" required /><br>
        <label for="password">Password:</label>
        <input type="password" name="password" id="password" required /><br>

        <input type="submit" value="Submit">
    </form>

    <form id="register" action="/register" method="GET">
        <input type="submit" value="Register Here">
    </form>
</div>