{{#if hasErrors}}
<p class="error-list">{{error}}
</p>
{{/if}}

<form action="/login" method="POST" id="login-form">
    <label>Please enter your email and password </label>
    <input type="email" name="email" id="email" required />
    <!--Will, I had to change your type, name, and id bc it was set to username instead of email-->
    <input type="password" name="password" id="password" required />

    <input type="submit" value="Submit">
</form>

<form action="/register" method="GET" id="register_here">
    <input type="submit" value="Register Here">
</form>