{{#if hasErrors}}
<p class="error-list">{{error}}
</p>
{{/if}}

<H1>Please enter your email and password</H1>
<form action="/login" method="POST" id="login-form">
    <label for="email">Email:</label>
    <input type="email" name="email" id="email" required /><br>
    <label for="password">Password:</label>
    <input type="password" name="password" id="password" required />

    <input type="submit" value="Submit">
</form>

<form action="/register" method="GET" id="register_here">
    <input type="submit" value="Register Here">
</form>