<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>{{{title}}}</title>
    <link rel="stylesheet" href="/public/site.css">
</head>

<body>
    <header>
        <div id="gyro_header">
            <img src="/public/logo.png" alt="Gyro Logo">
            <span class="header_text">Gyro</span>
        </div>
    </header>
    <main>
        {{{body}}}
    </main>
</body>

</html>