<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>{{{title}}}</title>

    <script type="text/javascript" src="http://code.jquery.com/jquery-3.5.0.min.js"></script>
    <script type="text/javascript" src="/public/tagsinput/jquery.tagsinput.min.js"></script>
    <script type="text/javascript" src="/public/js/taginput.js"></script>

    <link rel="stylesheet" href="/public/site.css">
    <link rel="stylesheet" href="/public/tagsinput/jquery.tagsinput.min.css">
    <link rel="icon" type="image/png" sizes="16x16" href="public/logo-16x16.png">
</head>

<body>
    <header id="gyro_header">
        <img src="/public/logo.png" alt="Gyro Logo" class='logoimg'>
        <span class="header_text">Gyro</span>
        {{#unless hideLogout}}
        <form action="/logout" method="GET" id="logout_button">
            <input type="submit" value="Logout">
        </form>
        {{/unless}}
    </header>
    <main>
        {{{body}}}
    </main>
</body>

</html>